{% load static %}

<head>
    <title>Sistema de Trabajos de Grado</title>
    <link rel="stylesheet" href="{% static 'gestionusuarios/styles/nav.css' %}">
    <link rel="stylesheet" href="{% static 'gestionusuarios/styles/formulario.css' %}">
    <link rel="stylesheet" href="{% static 'gestionusuarios/styles/tablaconsultapersona.css' %}">
</head>

{% block content %}

<body background="static/gestionusuarios/imagenes/fondoproyecto.jpg">

    <nav>
        <div class="logo">
            <h4>GESTION DE TRABAJOS DE GRADO</h4>
        </div>
        <ul class="nav-links">
            <li><a href="">TERM</a>
                <ul>
                    <li><a href="term">Crear TERM</a></li>
                    <li><a href="consultaterm">Editar TERM</a></li>
                </ul>
            </li>
            <li><a href="nuevo">Persona</a>
                <ul>
                    <li><a href="nuevo">Registrar Persona</a></li>
                    <li><a href="consultarpersona">Editar Persona</a></li>
                    <li><a href="tipo">Crear Tipo de Persona</a></li>
                    <li><a href="consultatipopersona">Editar Tipo de Persona</a></li>
                </ul>
            </li>
            <li><a href="">Propuesta</a>
                <ul>
                    <li><a href="nuevapropuesta">Registrar Propuesta</a></li>
                    <li><a href="consultarpropuesta">Editar Propuesta</a></li>
                    <li><a href="nuevostatuspropuesta">Crear Estatus Propuesta</a></li>
                    <li><a href="consultarstatuspropuesta">Editar Estatus Propuesta</a></li>
                </ul>
            </li>
            <li><a href="">Trabajo de Grado</a>
                <ul>
                    <li><a href="nuevotrabajogrado">Registrar Trabajo de Grado</a></li>
                    <li><a href="consultatrabajogrado">Editar Trabajo de Grado</a></li>
                    <li><a href="nuevostatusgrado">Registrar Estatus TG</a></li>
                    <li><a href="consultastatusgrado">Editar Estatus TG</a></li>
                </ul>
            </li>
            <li><a href="">Defensas</a>
                <ul>
                    <li><a href="">Registrar Defensa</a></li>
                    <li><a href="">Consultar Defensa</a></li>
                </ul>
            </li>
            <li><a href="/logout">Cerrar Sesión</a></li>
        </ul>

    </nav>

<br>

<div id="listapersona">

    <h2>Lista de trabajos de grado</h2>

    <br>

    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Propuesta asociada</td>
                <td>Título TG</td>
                <td>TERM</td>
                <td>NRC</td>
                <td>Descriptores</td>
                <td>Categoría temática</td>
                <td>Fecha de entrega</td>
                <td>Nombre de la empresa</td>
                <td>Acciones</td>
            </tr>

        </thead>
        <tbody>
            {% for trabajo in trabajos %}
            <tr>
                <td>{{trabajo.Asocpropuesta}}</td>
                <td>{{trabajo.TituloTG}}</td>
                <td>{{trabajo.Termtrabajogrado}}</td>
                <td>{{trabajo.NRC}}</td>
                <td>{{trabajo.Descriptores}}</td>
                <td>{{trabajo.Categoriatem}}</td>
                <td>{{trabajo.Fechaentrega}}</td>
                <td>{{trabajo.Nombreempresa}}</td>
                <td>
                    <a class="btn btn-primary" href="">Editar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>

</div>

    <br>

<div id="filtropersona">
    <form action="consultarcedula" method="POST"> {% csrf_token %}
        Buscar persona por su cédula: 
        <input type="text" name="cedula"  / >
        <input type="submit" value="Filtrar" class="boton">
    </form>
</div>


<div id="filtropersona">
    <form action="consultarnombre" method="POST"> {% csrf_token %}
        Buscar persona por sus nombres: 
        <input type="text" name="nombres"  / >
        <input type="submit" value="Filtrar" class="boton">
    </form>
</div>

</body>
{% endblock %}