{% load static %}

<head>
    <title>Sistema de Trabajos de Grado</title>
    <link rel="stylesheet" href="{% static 'gestionusuarios/styles/nav.css' %}">
    <link rel="stylesheet" href="{% static 'gestionusuarios/styles/formulario.css' %}">
    <link rel="stylesheet" href="{% static 'gestionusuarios/styles/tablaconsultatipo.css' %}">
</head>

{% block content %}

<body background="static/gestionusuarios/imagenes/fondoproyecto.jpg">

    <nav>
        <div class="logo">
            <h4>GESTION DE TRABAJOS DE GRADO</h4>
        </div>
        <ul class="nav-links">
            <li><a href="">TERM</a>
                <ul>
                    <li><a href="term">Crear TERM</a></li>
                    <li><a href="consultaterm">Editar TERM</a></li>
                </ul>
            </li>
            <li><a href="nuevo">Persona</a>
                <ul>
                    <li><a href="nuevo">Registrar Persona</a></li>
                    <li><a href="consultarpersona">Editar Persona</a></li>
                    <li><a href="tipo">Crear Tipo de Persona</a></li>
                    <li><a href="consultatipopersona">Editar Tipo de Persona</a></li>
                </ul>
            </li>
            <li><a href="">Propuesta</a>
                <ul>
                    <li><a href="nuevapropuesta">Registrar Propuesta</a></li>
                    <li><a href="consultarpropuesta">Editar Propuesta</a></li>
                    <li><a href="nuevostatuspropuesta">Crear Estatus Propuesta</a></li>
                    <li><a href="consultarstatuspropuesta">Editar Estatus Propuesta</a></li>
                </ul>
            </li>
            <li><a href="">Trabajo de Grado</a>
                <ul>
                    <li><a href="nuevotrabajogrado">Registrar Trabajo de Grado</a></li>
                    <li><a href="consultatrabajogrado">Editar Trabajo de Grado</a></li>
                    <li><a href="nuevostatusgrado">Registrar Estatus TG</a></li>
                    <li><a href="consultastatusgrado">Editar Estatus TG</a></li>
                </ul>
            </li>
            <li><a href="">Defensas</a>
                <ul>
                    <li><a href="">Registrar Defensa</a></li>
                    <li><a href="">Consultar Defensa</a></li>
                </ul>
            </li>
            <li><a href="/logout">Cerrar Sesión</a></li>
        </ul>

    </nav>

<br>

<div id="listatipo">

    <h2>Lista de tipo de personas</h2>

    <br>

    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Nombretipo</td>
                <td>Acciones</td>
            </tr>

        </thead>
        <tbody>
            {% for tipo in tipos %}
            <tr>
                <td>{{tipo.Nombretipo}}</td>
                <td>
                    <a class="btn btn-primary" href="{% url 'editar_tipo' tipo.id %}">Editar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>

</div>

</body>
{% endblock %}